    html,body{
    background: #dadada;
    }
	*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    }
    h6{margin-bottom: -25px;color: white;}
    html,body{
    display: grid;
    height: 100vh;
    place-items:center;
    background: #dadada;
    }
    .form-check-label{
        font-weight: bold;
        color: #6decb9;
    }
    
.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
  }
  
  .form-check-input {
    position: absolute;
    margin-top: 0.3rem;
    margin-left: -1.25rem;
  }
  .form-check-input[disabled] ~ .form-check-label, .form-check-input:disabled ~ .form-check-label {
    color: #6c757d;
  }
  
  .form-check-label {
    margin-bottom: 0;
  }
  
    .main_div{
    width: 105%;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    }
    .main_div {
    text-align: center;
    font-size: 30px;
    }
    .main_div .social_icons{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    }
    
    a{
    display: block;
    height: 25px;
    width: 100%;
    line-height: 45px;
    text-align: center;
    border-radius: 5px;
    font-size: 15px;
    color: #6decb9;
    text-decoration: none;
    }
     a span{
    margin-left: 5px;
    font-size: 18px;
    }
     
    
.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #e3342f;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-heading {
  color: inherit;
}

.alert-link {
  font-weight: 700;
}

.alert-dismissible {
  padding-right: 3.85rem;
}
.alert-dismissible .close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 0.75rem 1.25rem;
  color: inherit;
}

.alert-primary {
  color: #1b4b72;
  background-color: #d6e9f8;
  border-color: #c6e0f5;
}
.alert-primary hr {
  border-top-color: #b0d4f1;
}
.alert-primary .alert-link {
  color: #113049;
}

.alert-secondary {
  color: #383d41;
  background-color: #e2e3e5;
  border-color: #d6d8db;
}
.alert-secondary hr {
  border-top-color: #c8cbcf;
}
.alert-secondary .alert-link {
  color: #202326;
}

.alert-success {
  color: #1d643b;
  background-color: #d7f3e3;
  border-color: #c7eed8;
}
.alert-success hr {
  border-top-color: #b3e8ca;
}
.alert-success .alert-link {
  color: #123c24;
}

.alert-info {
  color: #385d7a;
  background-color: #e2f0fb;
  border-color: #d6e9f9;
}
.alert-info hr {
  border-top-color: #c0ddf6;
}
.alert-info .alert-link {
  color: #284257;
}

.alert-warning {
  color: #857b26;
  background-color: #fffbdb;
  border-color: #fffacc;
}
.alert-warning hr {
  border-top-color: #fff8b3;
}
.alert-warning .alert-link {
  color: #5d561b;
}

.alert-danger {
  color: #761b18;
  background-color: #f9d6d5;
  border-color: #f7c6c5;
}
.alert-danger hr {
  border-top-color: #f4b0af;
}
.alert-danger .alert-link {
  color: #4c110f;
}

.alert-light {
  color: #818182;
  background-color: #fefefe;
  border-color: #fdfdfe;
}
.alert-light hr {
  border-top-color: #ececf6;
}
.alert-light .alert-link {
  color: #686868;
}

.alert-dark {
  color: #1b1e21;
  background-color: #d6d8d9;
  border-color: #c6c8ca;
}
.alert-dark hr {
  border-top-color: #b9bbbe;
}
.alert-dark .alert-link {
  color: #040505;
}


.invalid-tooltip {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 5;
  display: none;
  max-width: 100%;
  padding: 0.25rem 0.5rem;
  margin-top: 0.1rem;
  font-size: 0.7875rem;
  line-height: 1.6;
  color: #fff;
  background-color: rgba(227, 52, 47, 0.9);
  border-radius: 0.25rem;
}
    
    form {
    margin-top: 25px;
    }
    form .input_box{
    height: 45px;
    width: 100%;
    position: relative;
    margin-top: 15px;
    }
    .input_box{
    height: 100%;
    width: 100%;
    outline: none;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding-left: 50px;
    font-size: 17px;
    transition: all 0.3s ease;
    background-color: #6decb9;
    }
    .input_submit{
    height: 20px;
    width: 25%;
    position: relative;
    margin-top: 15px;
    background-color: #6decb9;
    }
    .input_submit{
    height: 10%;
    outline: none;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-size: 17px;
    transition: all 0.3s ease;
    background-color: #6decb9;}
    input{
    height: 100%;
    width: 100%;
    outline: none;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px;
    transition: all 0.3s ease;
    background-color: white;
    border-bottom-left-radius:0px;
    border-top-left-radius:0px;
    }
    .input_box input:focus{
    border-color: #6decb9;
    }
    @media (prefers-reduced-motion: reduce) {
      .btn {
        transition: none;
      }
    }
    .btn:hover {
      color: #212529;
      text-decoration: none;
    }
    .btn:focus, .btn.focus {
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
    }
    .btn.disabled, .btn:disabled {
      opacity: 0.65;
    }
    .btn:not(:disabled):not(.disabled) {
      cursor: pointer;
    }
    a.btn.disabled,
    fieldset:disabled a.btn {
      pointer-events: none;
    }
    
    .btn {
      display: inline-block;
      font-weight: 400;
      color: #212529;
      text-align: center;
      vertical-align: middle;
      -webkit-user-select: none;
        -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      background-color: transparent;
      border: 1px solid transparent;
      padding: 0.375rem 0.75rem;
      font-size: 0.9rem;
      line-height: 1.6;
      border-radius: 0.25rem;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .input_box .icon {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: rgb(68, 68, 68);
    }
    .pass-icon {
    position: absolute;
    top: 50%;
    left: 92%;
    float: right;
    transform: translateY(-50%);
    color: rgb(68, 68, 68);
    }
    
    form .option_div{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    }
    .option_div {
    align-items: center;
    }
    .option_div span{
    margin-left: 5px;
    font-size: 16px;
    color: #333;
    }
    .option_div .forget_div a{
    font-size: 16px;
    }
    .button input{
    padding-left: 0;
    background: #6decb9;
    color: #fff;
    border: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s linear;
    }
    .button input:hover{
    background: #6decb9;
    }
    form .sign_up{
    text-align: center;
    }
    .sign_up a{
    color: #6decb9;
    margin-top: 10px;
    margin-bottom: 10px;
    }
    form a{
    text-decoration: none;
	color: #6decb9;
	
    }
    form a:hover{
    text-decoration: underline;
    }